# Dependencias
/node_modules

# Build
/dist

# Variables de entorno (NO subir secretos)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Prisma
prisma/*.db

# SO / editor
.DS_Store
.idea
.vscode

# Imágenes subidas (local)
uploads/*
!uploads/.gitkeep
